@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Send+Flowers&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #12572b;
  --color-secondary: #e9b522;
  --color-tertiary: #972626;
  --color-fourth: #ffffff;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-pt-serif: 'PT Serif', serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-send-flowers: 'Send Flowers', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
  --font-quincy: 'Quincy', sans-serif;
  --font-quincy-bold: 'Quincy Bold', sans-serif;
  --font-quincy-italic: 'Quincy Italic', sans-serif;
  --font-lora: 'Lora', serif;
}


@font-face {
  font-family: 'Quincy';
  src: url("./assets/fonts/Fontspring-DEMO-quincycf-regular.otf");
  font-weight: normal;
  font-style: normal;
}

